# --- IDE и Система ---
.idea/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db

# --- Gradle ---
.gradle/
build/
out/
gradle-app.setting
!gradle-wrapper.jar

# --- Сгенерированные артефакты (Твои папки сборки) ---
output/
my-mini-jre/
IronVision_Release/

# --- Логи ---
*.log
*.err